Options -Indexes
RewriteEngine On

# Se o arquivo ou pasta não existir fisicamente, joga a requisição para o index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]